body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008080; /* Teal background for body */
    color: #ffffff; /* White text color for contrast */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #20b2aa; /* Light teal background for container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.title {
    font-size: 1.2em;
    color: #ffffff; /* Adjusted text color for contrast */
}

.contact {
    font-size: 1em;
    color: #cccccc; /* Adjusted text color for contrast */
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    color: #0077b5; /* LinkedIn color */
    margin: 0 10px;
    font-size: 1.2em;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links a:nth-child(2) {
    color: #e4405f; /* Instagram color */
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    background: #333333; 
    color: #ffffff; 
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.job h3 {
    margin: 0;
}

.job p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #272727;
    color: #ffffff;
    width: 100%;
    bottom: 0;
}